{% extends 'layout.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Register here</h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
                consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat
                sit in
                iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row">

            <div class="col-lg-5 d-flex align-items-stretch">
                <div class="info">
                    <div class="address">
                        <i class="icofont-google-map"></i>
                        <h4>Location:</h4>
                        <p>A108 Adam Street, New York, NY 535022</p>
                    </div>

                    <div class="email">
                        <i class="icofont-envelope"></i>
                        <h4>Email:</h4>
                        <p>info@example.com</p>
                    </div>

                    <div class="phone">
                        <i class="icofont-phone"></i>
                        <h4>Call:</h4>
                        <p>+1 5589 55488 55s</p>
                    </div>

                </div>

            </div>

            <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch php-email-form">
                <form method="post">
                    {% csrf_token %}
                    <fieldset class="form-group col-md-12">
                        {{ form|crispy }}
                    </fieldset>
                    <div class="form-group text-center">
                        <button class="btn btn-outline-info" type="submit">Sign Up</button>
                    </div>
                    <div class="pt-2">
                        <small class="text-muted">
                            Already Have An Account? <a class="ml-2" href="{% url 'user-login' %}">Sign In</a>
                        </small>
                    </div>
                </form>

            </div>

        </div>

    </div>
</section><!-- End Contact Section -->

{% endblock %}